.avatar{
    border: 2px solid rgba(7, 243, 221, 0.1);
    border-radius: 50%;
    height: 40px;
    width: 40px;    
}
.brand {
    background: #343a40;
    height: 56px;
    padding: 10px 0 0;
    margin-bottom: 0;
    text-align: center;
}
.brand img {
    height: 100%;
}
.notification .usl{
	right: -10px;
    left: auto;
}
.notification .dropdown-item:focus, .notification .dropdown-item:hover {
    background-color: #343a40;
}

.ju-logo {
    
}

.session-message {
    text-align: center;
}

.user-avatar {
    border: 2px solid rgba(7, 243, 221, 0.1);
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.avatar {
    border: 2px solid rgba(7, 243, 221, 0.1);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 21%;
    top: 5%;
    z-index: 5;  
}

table.table-bordered.dataTable td.img-center {
    position: relative;
}